# Cleaning Variables

In [2]:
import pandas as pd
import numpy as np

In [382]:
dataset = 'NC Stats Data'
variable = 'counselors'

filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

years = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
counselor_df =pd.DataFrame()

## for every file in counselors folder
for x in years:

    ## open file    
    ## read as data frame
    sheet = pd.read_excel(filepath + 'Staff_' + str(x) + '.xlsx' , index_col = None, skiprows = [0, 1, 2], header=0, usecols=[1, 2, 3, 4, 5, 7, 8, 10, 11, 12])

    ## remove all but counselors
    sheet = sheet[sheet['Activity Assignment Classification'] == 'Guidance']

    ## add the year as a column
    sheet.insert(0, 'year', x)


    ## add to a new dataframe
    counselor_df = pd.concat([counselor_df, sheet])

counselor_df.reset_index(inplace=True)
counselor_df.drop(columns='index', inplace=True)

## checking the dataframe
counselor_df.head(10)

#counselor_df.to_csv('Counselor_Info.csv')

,year,Activity Assignment Classification,State Funds,Fed Funds,Local Funds,Total Funds,Gender Male,Gender Female,Race White,Race Black,Race Other
0,2015,Guidance,261.0,9.0,91.0,361.0,58.0,303.0,160.0,185.0,16.0
1,2016,Guidance,311.0,12.0,78.0,401.0,65.0,336.0,171.0,210.0,20.0
2,2017,Guidance,401.0,25.0,4.0,430.0,65.0,358.0,183.0,227.0,20.0
3,2018,Guidance,409.0,30.0,5.0,444.0,66.0,372.0,180.0,246.0,18.0
4,2019,Guidance,397.0,28.0,42.0,467.0,77.0,384.0,198.0,252.0,17.0
5,2020,Guidance,384.0,26.0,98.0,508.0,426.0,73.0,217.0,268.0,23.0
6,2021,Guidance,455.0,26.0,83.0,564.0,79.0,474.0,233.0,304.0,27.0

In [5]:
# print(counselor_df['Total Funds'].size)
# print(counselor_df['Total Funds'].isna().sum())
# print(counselor_df['Total Funds'].mean())
# print(counselor_df['Total Funds'].median())
# print(counselor_df['Total Funds'].std())

7
0
453.57142857142856
444.0
67.47556877086981

In [425]:
# dataset = 'NC Stats Data'
variable = 'schools'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'


schools_df = pd.read_csv(filepath + 'Schools.csv', header=0, names=['School', 'agency_code', 'Zip Code'], usecols=[2, 3, 6], dtype={'agency_code': 'object'})

In [505]:
variable = 'intentions'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

intentions_df = pd.DataFrame()

intention_subtotals= ['>>> Subtotal for Public SR >>>',
 '>>> Subtotal for Private SR >>>',
 '>>> Subtotal for Comm College >>>',
 '>>> Subtotal for Private JR >>>',
 '>>> Subtotal for Trade >>>',
 'MILITARY',
 'EMPLOYMENT',
 'OTHERS **']

for x in years:


    ## open file    
    ## read as data frame
    sheet = pd.read_excel(filepath + 'Intentions_' + str(x) + '.xlsx' , index_col = None, skiprows = [0, 1, 2], header=0, usecols=[1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21])


    ## remove subtotal rows,
    ## sheet.drop(labels=[2, 5, 8, 11, 14, 18, 19, 20, 21], axis=0, inplace=True)

    ## use subtotal rows
    sheet = sheet[sheet['Graduate Intention'].isin(intention_subtotals)]

    ## add the year as a column
    sheet.insert(0, 'year', x)

    ## add to a new dataframe
    intentions_df = pd.concat([intentions_df, sheet])

## remove '>>>' from each entry
intentions_df['Graduate Intention'] = intentions_df['Graduate Intention'].str.replace('>>>','')
## remove trailing/leading whitespaces
intentions_df['Graduate Intention'] = intentions_df['Graduate Intention'].str.strip()

## reset index
intentions_df.reset_index(drop=True, inplace=True, )

intentions_df.dropna(inplace=True)

#intentions_df.to_csv('Grad_Intentions.csv')

In [506]:
## getting only the percentage of graduates in each category

intentions_pivot = intentions_df[['year', 'Graduate Intention', 'Percent']]
intentions_pivot = intentions_pivot.pivot(index='year', columns='Graduate Intention', values='Percent').reset_index()
intentions_pivot

Graduate Intention,year,EMPLOYMENT,MILITARY,OTHERS **,Subtotal for Comm College,Subtotal for Private JR,Subtotal for Private SR,Subtotal for Public SR,Subtotal for Trade
0,2015,8.3,2.9,2.7,36.9,0.4,9.3,38.4,1.1
1,2016,9.3,2.7,1.9,35.1,0.5,9.5,40.0,0.9
2,2017,9.7,2.6,3.1,31.3,0.2,8.9,43.4,0.7
3,2018,9.3,2.3,1.2,35.4,0.4,9.2,41.4,0.7
4,2019,14.0,3.0,1.1,32.7,0.3,8.2,39.8,1.0
5,2020,15.0,2.2,1.0,32.3,0.2,7.8,40.4,1.0
6,2021,32.9,3.0,0.9,29.6,0.2,7.2,25.6,0.6

In [507]:
dataset = 'NC Report Card Data'
variable = 'AP Classes'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

## read excel file 
AP_df = pd.read_excel(filepath + 'NC_AP'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 2, 3, 5])
print(AP_df.size)

## choose only Charlotte-Mecklenburg Schools 
AP_df = AP_df[ AP_df['agency_code'].str.startswith('600') == True]

## choose only high schools
AP_df = AP_df[ AP_df['category_code'] == 'H']

## write to CSV
#AP_df.to_csv('AP Data.csv')

19735

In [508]:
agency_codes = list(AP_df['agency_code'].drop_duplicates())

In [509]:
# data items, missing , mean, median, sd
# print(AP_df['pct_ap_pass'].size)
# print(AP_df['pct_ap_pass'].isna().sum())
# print(AP_df['pct_ap_pass'].mean())
# print(AP_df['pct_ap_pass'].median())
# print(AP_df['pct_ap_pass'].std())

In [510]:
# print(AP_df['pct_ap_participation'].size)
# print(AP_df['pct_ap_participation'].isna().sum())
# print(AP_df['pct_ap_participation'].mean())
# print(AP_df['pct_ap_participation'].median())
# print(AP_df['pct_ap_participation'].std())

In [511]:
dataset = 'NC Report Card Data'
variable = 'CTE Certifications'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

credentials_df = pd.read_excel(filepath + 'CTE_Credentials'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 4])

credentials_df = credentials_df.loc[ credentials_df['agency_code'].isin(agency_codes), : ]

#credentials_df.to_csv('Credentials Data.csv')

In [512]:
creds_enroll_df = pd.read_excel(filepath + 'CTE_Enrollment' +'.xlsx', index_col = None, header=None, names=['year', 'agency_code', 'students_CTE_pct'], usecols=[0,1,4])
creds_enroll_df

      year  agency_code students_CTE_pct
0     year  agency_code              pct
1     2018       00A000             6.64
2     2018       00B000             1.62
3     2018       010303            41.36
4     2018       010310            55.86
...    ...          ...              ...
3698  2020       990LEA            59.27
3699  2020       995316            94.67
3700  2020       995324            27.66
3701  2020       995330            80.45
3702  2020       995LEA            61.64

[3703 rows x 3 columns]

In [513]:
creds_merged_df = credentials_df.merge(creds_enroll_df, on=['year', 'agency_code'])

In [514]:
# print(credentials_df['num_credentials'].size)
# print(credentials_df['num_credentials'].isna().sum())
# print(credentials_df['num_credentials'].mean())
# print(credentials_df['num_credentials'].median())
# print(credentials_df['num_credentials'].std())

In [515]:
dataset = 'NC Report Card Data'
variable = 'College Enrollment'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC4301A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

college_df = pd.read_excel(filepath + 'college enrollment'  + '.xlsx' , index_col = None, header=0, usecols=[1, 2, 3, 4, 6])

college_df = college_df.loc[ college_df['agency_code'].isin(agency_codes), : ]
college_df.rename( columns = {'graduation_year' : 'year'}, inplace=True)
college_df.drop(college_df[ college_df['Status'] == 'NOENRO' ].index, inplace=True)

#college_df.to_csv('College Enrollment Data.csv')

In [516]:
group_definitions = pd.read_excel(filepath + 'Subgroup_Definitions' + '.xlsx', index_col = None, header=None, names=['subgroup', 'Subgroup_Full'])
group_definitions['subgroup'] = group_definitions['subgroup'].str.strip()
## this dictionary can be used to replace all the subgroup codes with full-text

In [517]:
college_df = college_df.merge(group_definitions, on='subgroup')

In [518]:
college_pivot = pd.pivot_table(college_df, index= ['year', 'agency_code'], columns='subgroup').reset_index()

In [519]:
# EDS_enrollment = college_df[ (college_df['subgroup'] == 'EDS') & (college_df['Status'] == 'ENROLL')]

# print(EDS_enrollment['pct_enrolled'].size)
# print(EDS_enrollment['pct_enrolled'].isna().sum())
# print(EDS_enrollment['pct_enrolled'].mean())
# print(EDS_enrollment['pct_enrolled'].median())
# print(EDS_enrollment['pct_enrolled'].std())

## Merge all of it together

In [520]:
main_df = schools_df[ schools_df['agency_code'].isin(agency_codes)]
main_df = main_df.reindex(columns = ['School', 'Zip Code', 'agency_code'])


## big merge statement
main_df = main_df.merge(
    AP_df[['agency_code', 'pct_ap_pass', 'pct_ap_participation', 'year']],
    on='agency_code').merge(
        counselor_df[['year', 'Total Funds']], 
        on='year').merge(
            intentions_pivot, 
            on='year').merge(
                    creds_merged_df, 
                    on=['year', 'agency_code']).merge(
                        college_pivot, ## error with the levels of this table 
                        on = ['year', 'agency_code']) ## will deprecate in future versions

C:\Users\ricke\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:9186: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(
C:\Users\ricke\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [521]:
main_df.columns

Index([                   'School',                  'Zip Code',
                     'agency_code',               'pct_ap_pass',
            'pct_ap_participation',                      'year',
                     'Total Funds',                'EMPLOYMENT',
                        'MILITARY',                 'OTHERS **',
       'Subtotal for Comm College',   'Subtotal for Private JR',
         'Subtotal for Private SR',    'Subtotal for Public SR',
              'Subtotal for Trade',           'cred_earned_pct',
                'students_CTE_pct',     ('pct_enrolled', 'ALL'),
           ('pct_enrolled', 'AM7'),     ('pct_enrolled', 'AS7'),
           ('pct_enrolled', 'BL7'),     ('pct_enrolled', 'EDS'),
           ('pct_enrolled', 'ELS'),     ('pct_enrolled', 'FEM'),
           ('pct_enrolled', 'HI7'),    ('pct_enrolled', 'MALE'),
           ('pct_enrolled', 'MU7'),     ('pct_enrolled', 'PI7'),
           ('pct_enrolled', 'SWD'),     ('pct_enrolled', 'WH7')],
      dtype='object')

In [522]:
main_df.rename(
    columns={
        'EMPLOYMENT':'int_employ',
        'MILITARY': 'int_military', 
        'OTHERS **': 'int_other', 
        'Subtotal for Comm College':'int_commcoll', 
        'Subtotal for Private JR':'int_privjr', 
        'Subtotal for Private SR':'int_privsr',
        'Subtotal for Public SR':'int_pubsr',
        'Subtotal for Trade':'int_tradesch',
        'cred_earned_pct':'CTE_cred_pct',
        'students_CTE_pct':'CTE_enroll_pct',
        '(\'pct_enrolled\', \'ALL\')':'enroll_ALL',
        'Total Funds':'Total Counselors',  }, inplace=True)

In [524]:
main_df.to_csv('Full_Data.csv')